一. 預修科目: 
1. 計算機程式設計: 本課程絕大部分的的範例, 作業, 期末專題等, 均使用Python程式語言. 
修課同學不一定要學過Python, 課程中會有簡介, 但同學最好開學前就能對以下一般程式語言觀念有相當的了解: 變數, if...else, 
迴圈(for, while, do...while), 函式(function), 一,二維陣列, 類別(class)與物件(object). 更實際一點來說, 
如果能相當清楚以下YouTube影片介紹的Python內容, 對本課程的學習應該就沒有問題: 
D. Banas, Python Programming (Learn Python in One Video,約45分鐘), https://www.youtube.com/watch?v=N4mEzFDjqtA 
. 

2. 機率與統計, 例如probability density function, 期望值, mean, variance, Gaussian distribution, Poisson distribution, random variables, 
conditional probability, Bayes定理等. 

3. 認知神經科學: 作為計算模型須符合的限制(constrains), 但不是本課程重點. 相關內容主要放置於參考教材, 由基礎開始介紹, 所以沒學過也行. 
內容的深度與廣度, 當然不能與專門學系的有關課程相提並論. 要深入探討的同學請考慮同時或先後修習相關課程如腦與心智科學概論, 心與腦, 神經生理學, 
認知心理學, 高等認知神經科學, 神經生物與認知科學學程等. 

二. 上課方式: 
任課教師提供的課程教材, 內容過多, 不可能於所訂進度時間內教完. 因此教材將分成三類: 
1. 基礎教材: 盡量詳細講解, 並於上課時間內上完的內容 
2. 參考教材: 同學自修以及準備作業和期末專題時可參考的內容 
3. 延伸學習: 同學深入瞭解之途徑 

每週上課前三節講解教材, 第四節為討論課, 盡量讓同學與任課教師交流 Nengo 與 ROS的使用心得, 
以及輪流報告討論作業和期末專題的構想和進度, 任課教師會在同學討論告一段落後, 提供自己的看法與建議.

為得到最好學習效果, 強烈建議同學課前主動妥為預習, 上課時可攜帶具校園內無線上網功能之筆記型或平板型電腦, 
除每週第四節之討論與實作交流外, 可隨時讀取任課老師準備之教材投影片, 或參考書籍電子版, 又可隨時搜尋網路相關資源, 
下載或上傳資料至雲端空間如NTUSpace, 方便課內課外利用電子筆記本如Evernote或OneNote註記重點, 疑問, 心得, 備份資料, 
及整理所得資訊後提供的看法; 另一方面也可以隨時依教學內容, 逐步跟著任課教師之說明實作或觀察課程範例內容, 

三. 作業 
作業繳交日前每位修課同學需自訂一個本課程範圍內主題, 實作一項課程相關Python及/或Matlab程式, 並與文獻比較異同, 延伸 
或批判其內容, 亦可提出自己的創新想法, 完成系統化討論, 以英文寫成一份8頁左右書面報告, 格式及寫作指引請參照 
Peter Harris, Designing and Reporting Experiments in Psychology, 3rd ed., In Open Guides to Psychology.Maidenhead : McGraw-Hill Education. 2008. 
台大電子書http://web.a.ebscohost.com/ehost/detail/detail?sid=ac4c4a5d-9dfa-4459-9d86-0b5fd79dd34c%40sessionmgr4004&crlhashurl=login.aspx%253fdirect%253dtrue%2526scope%253dsite%2526db%253dnlebk%2526db%253dnlabk%2526AN%253d234326&hid=4106&vid=0&bdata=JnNpdGU9ZWhvc3QtbGl2ZSZzY29wZT1zaXRl#db=nlebk&AN=234326&anchor=tocAnchor
以上書面報告請另外增添學習心得報告(可用中文)與程式碼作為附錄, 轉成一份pdf檔.同時並準備由同樣內容整理, 
含標題頁之7張左右投影片power point檔,供作業討論日簡報之用. 
書面報告pdf檔以及簡報PowerPoint合併壓縮成一個zip檔, 於作業繳交日上課前由CEIBA系統上傳. 作業每次每人繳交一份, 
不可多人合交. 如為多人合作, 亦須分開撰寫不同內容. 
作業繳交日最後一節, 輪流抽籤決定同學以其準備之投影片, 進行簡報, 若有系統展示(demo, 必要時播放預錄影片檔 
可避免臨時出狀況)更佳. 

請注意本課程與人工智慧相關領域如Neural Networks, Deep Learning, Machine Learning等有所差距, 
本課程作業需結合神經科學與心理學內涵, 不宜將他處課程之作業原封不動交來. 

四. 認知模型系統期末專題實作 
課程進行中, 修課及旁聽同學自組1至3人之團隊, 於第11週開始, 由CEIBA繳交團隊名單及一頁 
之期末專題構想, 說明預定模擬之認知功能, 及可能之電腦模型軟硬體實作方法, 完成之計算模型, 鼓勵使用
Robot Operating System 內的工具, 設計簡化的機器人軟體模型及其模擬環境. 隨後團隊即持續合作, 以Nengo及Python
建立可能產生此等現象之認知神經科學模擬系統, 並與認知心理學, 神經生理學, 認知神經科學, 或類似之計算認知 
心理學主題有關文獻比較, 討論結果合理性, 相似相異處, 方法優缺點等.

專題實作主題建議(取自教科書網頁: Using the book as a text, http://www.nengo.ca/build-a-brain/textbookuse)
Build a creature to seek food and return to a home nest
Build a serial working memory model that allows for loading, reset, etc.
Build a robot controller for a robot that you present instructions to, that it memorizes and then executes.
Build an adaptive controller for a 3-link arm using Slotine's adaptation methods.
Build a model that does any one of the tasks in Spaun. 

每一團隊應寫成一份英文書面報告, 格式同樣請參照Peter Harris, Designing and Reporting Experiments in Psychology, 3rd ed., In Open Guides to Psychology.Maidenhead : McGraw-Hill Education. 2008. 
台大電子書http://web.a.ebscohost.com/ehost/detail/detail?sid=ac4c4a5d-9dfa-4459-9d86-0b5fd79dd34c%40sessionmgr4004&crlhashurl=login.aspx%253fdirect%253dtrue%2526scope%253dsite%2526db%253dnlebk%2526db%253dnlabk%2526AN%253d234326&hid=4106&vid=0&bdata=JnNpdGU9ZWhvc3QtbGl2ZSZzY29wZT1zaXRl#db=nlebk&AN=234326&anchor=tocAnchor
以上書面報告請另外增添學習心得報告(可用中文)與程式碼作為附錄, 轉成一份pdf檔.同時並準備由同樣內容整理, 
含標題頁之7張左右投影片power point檔,供期末專題發表會簡報之用. 
書面報告pdf檔以及簡報PowerPoint各自壓縮成zip檔, 於期末專題發表會原上課時間前由CEIBA系統分別上傳 
期末專題發表會, 輪流抽籤決定同學以其準備之投影片, 進行簡報, 若有系統展示(demo, 必要時播放預錄影片檔, 可避免臨時出狀況)更佳. 

請注意本課程與人工智慧等之理論或研究成果領域如Neural Networks, Deep Learning, Machine Learning等有所差距, 本課程期末專題實作需結合神經科學與心理學內涵, 不宜將他處課程之Term Project原封不動交來.